/* https://coolors.co/f6f7eb-e94f37-393e41-3f88c5-44bba4 */
/* --- Все сайты  ---*/

:root {
    --background-color: #393E41;
    --main-color: #3F88C5;
    --second-color: #44BBA4;
    --highlight-color: #E94F37;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

body * {
    font-family: 'Open Sans', sans-serif;
}

.hidden {
    visibility: collapse;
}

header {
    min-height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 0 20px 0 20px;
    box-shadow: 0 1px 24px 0 rgba(0,0,0,.14)
}

.small{
    width: 120px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

.logo-n-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-text {
    color: white;
    font-weight: bold;
    font-size: x-large;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.logo-img {
    width: 150px;
    height: 75px;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
}

.search {
    min-width: 200px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    height: 50px;
}

#search-input {
    width: 90%;
    border-radius: 10px 0 0 10px;
    border: none;
    padding-left: 15px;
}

#search-button {
    width: 10%;
    border-radius: 0 10px 10px 0;
    border: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
}

.header-btn {
    min-width: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: var(--main-color);
    border: none;
    border-radius: 10px;

    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 3px;
    transition-duration: .2s;
    text-decoration: none;
}

.header-btn:hover {
    background-color: var(--second-color);
}

/* Footer */

footer {
    background-color: var(--background-color);
    min-height: 30px;
    padding: 10px;
    color: white;
    text-align: center;
}

/* Контент страницы */

#main-content {
    width: 1200px;
    margin: 50px auto;
    min-height: 100vh;
}

.catalog {
    width: 200px;
    float: left;
}

.catalog ul {
    list-style: none;
    padding: 0;
}

.catalog a {
    text-decoration: none;
    color: var(--main-color);
}

.catalog h2 {
    margin: 0;
}

.catalog a:visited {
    color: var(--background-color);
}

.catalog a:hover {
    color: var(--highlight-color);
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 600px;
}

/* --- Отдельные страницы --- */

/* Index */

.sales img {
    width: 100%;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}


.suggest-title {
    box-sizing: border-box;
    width: 100%;
    color: white;
    background: var(--background-color);
    border: solid 1px gray;
    border-bottom-width: 0px;
    margin-bottom: 0;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.suggest {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    border: solid 1px gray;
    border-top-width: 0px;
    justify-content: space-around;
    align-items: baseline;
}

.suggest-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    margin: 10px 0;
    height: 350px;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
    border: solid 1px gray;
    transition-duration: .2s;
    box-shadow: 0px 5px 5px gray;
}

.suggest-item:hover {
    background-color: whitesmoke;
    box-shadow: 0px 5px 15px gray;
}

.suggest-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.suggest-product-price {
    font-size: large;
    font-weight: bold;
}

.suggest-product-card-buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggest-product-buy {
    display: flex;
}

.suggest-product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Catalog */

.product-cards {
    display: flex;
    flex-wrap: wrap;
    border-top-width: 1px;
    justify-content: start;
}


.stock-title {
    margin: 0;
}


.product-card {
    width: 175px;
    height: 350px;
    margin: 15px 10px 15px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: solid 1px gray;
    transition-duration: .2s;
    text-decoration: none;
}

.product-card:hover {
    background-color: whitesmoke;
    box-shadow: 0px 5px 15px gray;
}

.product-card p {
    margin: 10px 0;
}

.product-card-name {
    color: black;
}

.product-card-img {
    width: 175px;
    height: 150px;
    border-radius: 15px;
    object-fit: contain;
    object-position: center;
    background-color: white;
}

.product-card-desc {
    color: gray;
}

.product-card-price {
    color: black;
    font-size: large;
    font-weight: bold;
}

.add-to-cart {
    background: none;
    border-radius: 5px;
    background-color: white;
    border: solid 2px var(--main-color);
    padding: 10px;
    color: var(--main-color);
    transition-duration: .2s;
    width: 100%;
}

.add-to-cart:hover {
    background-color: var(--main-color);
    padding: 10px;
    color: white;
}


/* Product */

.product-title {
    margin: 0;
}

.product-cover {
    display: flex;
}

.product-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.product-selected-image {
    height: 400px;
}

.secondary-images {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.secondary-images img {
    height: 80px;
    width: 80px;
    border: solid 3px var(--main-color);
    border-radius: 15px;
    margin: 0 10px;
}

.product-order {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 25px;
    width: 500px;
    height: 200px;
}

.product-order * {
    margin: 3px 0;
}

.product-price {
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

.product-fast-order {
    padding: 10px;
    color: white;
    font-size: medium;
    font-weight: bold;
    background-color: var(--highlight-color);
    border: none;
    border-radius: 5px;
    width: 300px;
}

.add-to-card-buttons {
    display: flex;
    width: 300px;
}

.product-add-to-cart {
    color: white;
    font-size: medium;
    font-weight: bold;
    background-color: var(--second-color);
    border: none;
    border-radius: 5px;
    width: 100%;
}

.change-product-value {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100px;
}

.change-product-value button {
    background: none;
    width: 30px;
    height: 30px;
    border: solid 3px var(--main-color);
    border-radius: 5px;
    color: var(--main-color);

}

/* Cart */

.cart{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.cart-items{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 100%;
}

.to-checkout{
    width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}

.cart-item{
    width: 100%;
    min-height: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.cart-image{
    width: 120px;
    height: 120px;
    border-radius: 5px;
}

.cart-name{
    font-size: 22px;
    margin: 0 60px;
}

.buy-n-price{
    justify-content: space-between;
    font-weight: bold;
}

.cart-total{
    justify-content: space-between;
}

.cart-buy{
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    background-color: var(--highlight-color);
    border-radius: 10px;
    color: white;
    font-size: large;
}

/* Login */

.login-form{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
}

.login-form input{
    margin-bottom: 20px;
}

.login-form label{
    color: gray;
    font-size: large;
}

.login-btn{
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    background-color: var(--main-color);
    border-radius: 10px;
    color: white;
    font-size: large;
    margin-bottom: 20px;
}

.reg-btn{
    text-decoration: none;
    color: var(--main-color);
}

.cart-item-checkbox{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}