#warn {
  color: white;
  font-size: x-large;
  font-weight: 200;
  display: none;
  align-items: center;
  justify-content: center;
  filter: blur(0px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: .4s;
}

#loading {
  color: white;
  font-size: x-large;
  display: none;
  align-items: center;
  justify-content: center;
  filter: blur(0px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  height: 100%;
  transition-duration: .4s;
}

#total {
  transition-duration: .2s;
}

.form-control.is-valid, .was-validated .form-control:valid {
  border-color: var(--bs-gray);
  padding: 0;
  background: none;
}

